<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:insert="DIY::ico">
    <title>交流</title><!-- Bootstrap Core and vandor -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"><!-- Plugins css -->
    <link rel="stylesheet" th:href="@{/css/summernote.css}"><!-- Core css -->
    <link rel="stylesheet" th:href="@{/css/style.min.css}">
</head>
<body class="font-muli theme-cyan gradient"><!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader"></div>
</div>
<div id="main_content"><!-- Start Main top header -->
    <div th:insert="DIY::HeaderTop"></div><!-- 顶部菜单-->
    <div th:insert="DIY::RightSideBar"></div><!-- 右侧设置-->
    <div th:insert="DIY::ThemeDiv"></div><!-- 主题 -->
    <div class="user_div">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#righttab-statistics">在线</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#righttab-Result">作业</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#righttab-Students">学生</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#righttab-Todo">留空</a></li>
        </ul>
        <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="righttab-statistics" role="tabpanel">
                <div id="usersOnline">
                    <div class="input-group mt-2 mb-2">
                        <input type="text" class="form-control search" placeholder="Search Student"></div>
                    <ul class="right_chat list-unstyled list" id="userlist">
<!--                        <li>-->
<!--                            <a href="javascript:void(0);" class="media">-->
<!--                            <img class="media-object" src="/images/avatar1.jpeg" alt>-->
<!--                            <div class="media-body"><span class="name">Abigail Churchill</span><span class="message">Art & Design</span>-->
<!--                            </div>-->
<!--                            </a>-->
<!--                        </li>-->
                    </ul>
                </div>
            </div>
            <div class="tab-pane fade" id="righttab-Result" role="tabpanel">
                <div class="card">
                    <div class="card-header"><h3 class="card-title">Result 2019</h3>
                        <div class="card-options"><a href="#"><i class="fa fa-file-excel-o" data-toggle="tooltip"
                                                                 title="Export Excel"></i></a></div>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <div class="clearfix">
                                    <div class="float-left"><strong>87%</strong></div>
                                    <div class="float-right"><small class="text-muted">Art & Design</small></div>
                                </div>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar bg-azure" role="progressbar" style="width: 87%"
                                         aria-valuenow="42" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                            <li class="mb-3">
                                <div class="clearfix">
                                    <div class="float-left"><strong>80%</strong></div>
                                    <div class="float-right"><small class="text-muted">Fashion</small></div>
                                </div>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar bg-green" role="progressbar" style="width: 80%"
                                         aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                            <li class="mb-3">
                                <div class="clearfix">
                                    <div class="float-left"><strong>63%</strong></div>
                                    <div class="float-right"><small class="text-muted">Sports Science</small></div>
                                </div>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar bg-orange" role="progressbar" style="width: 63%"
                                         aria-valuenow="36" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                            <li class="mb-3">
                                <div class="clearfix">
                                    <div class="float-left"><strong>91%</strong></div>
                                    <div class="float-right"><small class="text-muted">Computers</small></div>
                                </div>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar bg-indigo" role="progressbar" style="width: 91%"
                                         aria-valuenow="6" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                            <li>
                                <div class="clearfix">
                                    <div class="float-left"><strong>35%</strong></div>
                                    <div class="float-right"><small class="text-muted">Biological Sciences</small></div>
                                </div>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar bg-pink" role="progressbar" style="width: 35%"
                                         aria-valuenow="6" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="row text-center">
                            <div class="col-6 border-right"><label class="mb-0">Total Pass</label>
                                <div class="font-20 font-weight-bold">1,052</div>
                            </div>
                            <div class="col-6"><label class="mb-0">Total Fail</label>
                                <div class="font-20 font-weight-bold">198</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header"><h3 class="card-title">Result 2018</h3>
                        <div class="card-options"><a href="#"><i class="fa fa-file-excel-o" data-toggle="tooltip"
                                                                 title="Export Excel"></i></a></div>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <div class="clearfix">
                                    <div class="float-left"><strong>80%</strong></div>
                                    <div class="float-right"><small class="text-muted">Fashion</small></div>
                                </div>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar bg-green" role="progressbar" style="width: 80%"
                                         aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                            <li class="mb-3">
                                <div class="clearfix">
                                    <div class="float-left"><strong>87%</strong></div>
                                    <div class="float-right"><small class="text-muted">Art & Design</small></div>
                                </div>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar bg-azure" role="progressbar" style="width: 87%"
                                         aria-valuenow="42" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                            <li class="mb-3">
                                <div class="clearfix">
                                    <div class="float-left"><strong>91%</strong></div>
                                    <div class="float-right"><small class="text-muted">Computers</small></div>
                                </div>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar bg-indigo" role="progressbar" style="width: 91%"
                                         aria-valuenow="6" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                            <li class="mb-3">
                                <div class="clearfix">
                                    <div class="float-left"><strong>35%</strong></div>
                                    <div class="float-right"><small class="text-muted">Biological Sciences</small></div>
                                </div>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar bg-pink" role="progressbar" style="width: 35%"
                                         aria-valuenow="6" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                            <li>
                                <div class="clearfix">
                                    <div class="float-left"><strong>63%</strong></div>
                                    <div class="float-right"><small class="text-muted">Sports Science</small></div>
                                </div>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar bg-orange" role="progressbar" style="width: 63%"
                                         aria-valuenow="36" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="row text-center">
                            <div class="col-6 border-right"><label class="mb-0">Total Pass</label>
                                <div class="font-20 font-weight-bold">845</div>
                            </div>
                            <div class="col-6"><label class="mb-0">Total Fail</label>
                                <div class="font-20 font-weight-bold">142</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="righttab-Students" role="tabpanel">
                <div id="users">
                    <div class="input-group mt-2 mb-2"><input type="text" class="form-control search"
                                                              placeholder="Search Student"></div>
                    <ul class="right_chat list-unstyled list">
                        <li class="alfabet">A</li>
                        <li><a href="javascript:void(0);" class="media"><img class="media-object"
                                                                             src="/images/avatar1.jpeg" alt>
                            <div class="media-body"><span class="name">Abigail Churchill</span><span class="message">Art & Design</span>
                            </div>
                        </a></li>
                        <li><a href="javascript:void(0);" class="media"><img class="media-object"
                                                                             src="/images/avatar2.jpeg" alt>
                            <div class="media-body"><span class="name">Alexandra Carr</span><span class="message">Fashion</span>
                            </div>
                        </a></li>
                        <li><a href="javascript:void(0);" class="media"><img class="media-object"
                                                                             src="/images/avatar3.jpeg" alt>
                            <div class="media-body"><span class="name">Alison Berry</span><span
                                    class="message">Fashion</span></div>
                        </a></li>
                        <li class="alfabet">B</li>
                        <li><a href="javascript:void(0);" class="media"><img class="media-object"
                                                                             src="/images/avatar4.jpeg" alt>
                            <div class="media-body"><span class="name">Bella Alan</span><span class="message">Sports Science</span>
                            </div>
                        </a></li>
                        <li class="alfabet">C</li>
                        <li><a href="javascript:void(0);" class="media"><img class="media-object"
                                                                             src="/images/avatar5.jpeg" alt>
                            <div class="media-body"><span class="name">Caroline Alan</span><span class="message">Sports Science</span>
                            </div>
                        </a></li>
                        <li><a href="javascript:void(0);" class="media"><img class="media-object"
                                                                             src="/images/avatar6.jpeg" alt>
                            <div class="media-body"><span class="name">Connor Campbell</span><span class="message">Computers</span>
                            </div>
                        </a></li>
                        <li><a href="javascript:void(0);" class="media"><img class="media-object"
                                                                             src="/images/avatar7.jpeg" alt>
                            <div class="media-body"><span class="name">Charles Campbell</span><span class="message">Computers</span>
                            </div>
                        </a></li>
                        <li class="alfabet">D</li>
                        <li><a href="javascript:void(0);" class="media"><img class="media-object"
                                                                             src="/images/avatar8.jpeg" alt>
                            <div class="media-body"><span class="name">Donna Hudson</span><span class="message">Computers</span>
                            </div>
                        </a></li>
                        <li><a href="javascript:void(0);" class="media"><img class="media-object"
                                                                             src="/images/avatar9.jpeg" alt>
                            <div class="media-body"><span class="name">Dylan Jones</span><span
                                    class="message">Computers</span></div>
                        </a></li>
                        <li class="alfabet">G</li>
                        <li><a href="javascript:void(0);" class="media"><img class="media-object"
                                                                             src="/images/avatar8.jpeg" alt>
                            <div class="media-body"><span class="name">Gordon Hudson</span><span class="message">Sports Science</span>
                            </div>
                        </a></li>
                        <li><a href="javascript:void(0);" class="media"><img class="media-object"
                                                                             src="/images/avatar9.jpeg" alt>
                            <div class="media-body"><span class="name">Gabrielle Walker</span><span class="message">Computers</span>
                            </div>
                        </a></li>
                        <li><a href="javascript:void(0);" class="media"><img class="media-object"
                                                                             src="/images/avatar10.jpeg" alt>
                            <div class="media-body"><span class="name">Gavin North</span><span
                                    class="message">Computers</span></div>
                        </a></li>
                        <li class="alfabet">S</li>
                        <li><a href="javascript:void(0);" class="media"><img class="media-object"
                                                                             src="/images/avatar1.jpeg" alt>
                            <div class="media-body"><span class="name">Stephanie Hudson</span><span class="message">Sports Science</span>
                            </div>
                        </a></li>
                        <li class="alfabet">W</li>
                        <li><a href="javascript:void(0);" class="media"><img class="media-object"
                                                                             src="/images/avatar1.jpeg" alt>
                            <div class="media-body"><span class="name">William Paige</span><span
                                    class="message">Fashion</span></div>
                        </a></li>
                    </ul>
                </div>
                <div class="user_chatbody chat_app">
                    <div class="card-header bline pt-1 pl-0 pr-0"><h3 class="card-title">Abigail Churchill
                        <small>Online</small></h3>
                        <div class="card-options"><a href="javascript:void(0)" class="p-1" data-toggle="dropdown"><i
                                class="fa fa-cog"></i></a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow"><a
                                    class="dropdown-item active" href="#">Online</a><a class="dropdown-item" href="#">Away</a><a
                                    class="dropdown-item" href="#">Do not disturb</a><a class="dropdown-item" href="#">Invisible</a>
                            </div>
                            <a href="javascript:void(0)" class="p-1 chat_close"><i class="fa fa-close"></i></a></div>
                    </div>
                    <div class="chat_windows">
                        <ul class="mb-0">
                            <li class="other-message"><img class="avatar mr-3" src="/images/avatar1.jpeg" alt="avatar">
                                <div class="message"><p class="bg-light-blue">Are we meeting today?</p><span
                                        class="time">10:10 AM,Today</span></div>
                            </li>
                            <li class="other-message"><img class="avatar mr-3" src="/images/avatar1.jpeg" alt="avatar">
                                <div class="message"><p class="bg-light-blue">Hi Aiden,how are you? How is the project
                                    coming along?</p>
                                    <p class="bg-light-blue">Are we meeting today?</p><span
                                            class="time">10:15 AM,Today</span></div>
                            </li>
                            <li class="my-message">
                                <div class="message"><p class="bg-light-gray">Project has been already finished and I
                                    have results to show you.</p>
                                    <div class="file_folder"><a href="javascript:void(0);">
                                        <div class="icon"><i class="fa fa-file-excel-o text-success"></i></div>
                                        <div class="file-name"><p class="mb-0 text-muted">Report2017.xls</p><small>Size:68KB</small>
                                        </div>
                                    </a></div>
                                    <span class="time">10:17 AM,Today</span></div>
                            </li>
                            <li class="other-message"><img class="avatar mr-3" src="/images/avatar1.jpeg" alt="avatar">
                                <div class="message">
                                    <div class="media_img"><img src="/images/1.jpeg" class="w100 img-thumbnail" alt><img
                                            src="/images/2.jpeg" class="w100 img-thumbnail" alt></div>
                                    <span class="time">10:15 AM,Today</span></div>
                            </li>
                            <li class="other-message"><img class="avatar mr-3" src="/images/avatar1.jpeg" alt="avatar">
                                <div class="message"><p class="bg-light-blue">Are we meeting today I have results?</p>
                                    <span class="time">10:18 AM,Today</span></div>
                            </li>
                            <li class="my-message">
                                <div class="message"><p class="bg-light-gray">Well we have good budget for the
                                    project</p><span class="time">10:25 AM,Today</span></div>
                            </li>
                        </ul>
                        <div class="chat-message clearfix"><a href="javascript:void(0);"><i class="icon-camera"></i></a><a
                                href="javascript:void(0);"><i class="icon-camcorder"></i></a><a
                                href="javascript:void(0);"><i class="icon-paper-plane"></i></a>
                            <div class="input-group mb-0"><input type="text" class="form-control"
                                                                 placeholder="Enter text here..."></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="righttab-Todo" role="tabpanel">
                <ul class="list-unstyled mb-0 todo_list">
                    <li><label class="custom-control custom-checkbox"><input type="checkbox"
                                                                             class="custom-control-input"
                                                                             name="example-checkbox1" value="option1"
                                                                             checked><span class="custom-control-label">Report Panel Usag</span></label>
                    </li>
                    <li><label class="custom-control custom-checkbox"><input type="checkbox"
                                                                             class="custom-control-input"
                                                                             name="example-checkbox1"
                                                                             value="option1"><span
                            class="custom-control-label">Report Panel Usag</span></label></li>
                    <li><label class="custom-control custom-checkbox"><input type="checkbox"
                                                                             class="custom-control-input"
                                                                             name="example-checkbox1" value="option1"
                                                                             checked><span class="custom-control-label">New logo design for Angular Admin</span></label>
                    </li>
                    <li><label class="custom-control custom-checkbox"><input type="checkbox"
                                                                             class="custom-control-input"
                                                                             name="example-checkbox1"
                                                                             value="option1"><span
                            class="custom-control-label">Design PSD files for Angular Admin</span></label></li>
                    <li><label class="custom-control custom-checkbox"><input type="checkbox"
                                                                             class="custom-control-input"
                                                                             name="example-checkbox1" value="option1"
                                                                             checked><span class="custom-control-label">New logo design for Angular Admin</span></label>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- 用户 -->
    <div th:insert="/student/index::LeftSideBar(active='Chat')" ></div><!-- 菜单 -->
    <div class="page"><!-- 主页面 -->
        <div th:insert="DIY::PageTop"></div><!-- 顶部搜索栏 -->
        <div class="section-body">
            <div class="container-fluid">
                <div class="d-flex justify-content-between align-items-center ">
                    <div class="header-action">
                        <h1 class="page-title">交流</h1>
                        <ol class="breadcrumb page-breadcrumb">
                            <li class="breadcrumb-item"><a href="#">学生</a></li>
                            <li class="breadcrumb-item active" aria-current="page">交流</li>
                        </ol>
                    </div>
                    <ul class="list-unstyled team-info mb-0">
                        <li class="mr-4">最近聊天</li>
                        <li><img src="/images/avatar4.jpeg" data-toggle="tooltip" title="" alt="Avatar"
                                 data-original-title="Avatar"></li>
                        <li><img src="/images/avatar4.jpeg" data-toggle="tooltip" title="" alt="Avatar"
                                 data-original-title="Avatar"></li>
                        <li><img src="/images/avatar4.jpeg" data-toggle="tooltip" title="" alt="Avatar"
                                 data-original-title="Avatar"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section-body mt-4 chat_app">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-header bline">
                                <h3 class="card-title" id="chatName"><small>Last seen:2 hours ago</small></h3>
                                <div class="card-options">
                                    <a href="javascript:void(0)" class="p-1 chat_list_btn">
                                        <i class="fa fa-align-right"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="p-1">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="p-1">
                                        <i class="fa fa-cog"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="p-1">
                                        <i class="fa fa-refresh"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body chat_windows">
                                <ul class="mb-0" id="msgs">
                                    <li class="other-message">
                                        <img class="avatar mr-3" src="/images/avatar3.jpeg" alt="avatar">
                                        <div class="message">
                                            <p class="bg-light-cyan">11</p>
                                            <span class="time">10:15 AM,Today</span>
                                        </div>
                                    </li>
                                    <li class="my-message">
                                        <div class="message">
                                            <p class="bg-light-gray">Project has been already finished and I have
                                                results to show you.</p>
                                            <span class="time">10:17 AM,Today</span>
                                        </div>
                                    </li>
                                </ul>
                                <div class="chat-message clearfix">
                                    <a href="javascript:void(0);"><i class="icon-camera"></i></a>
                                    <a href="javascript:void(0);"><i class="icon-camcorder"></i></a>
                                    <a href="javascript:void(0);"><i class="icon-paper-plane"></i></a>
                                    <div class="input-group mb-0">
                                        <textarea type="text" rows="2" class="form-control" placeholder="在此处输入信息..." id="message"></textarea>
                                    </div>
                                    <div class="col-sm-12 m-t-20 text-right">
                                        <button type="button" class="btn btn-primary" id="send"><i class="fa fa-cloud-upload mr-2"></i>发送</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Start main footer -->
        <div th:insert="DIY::PageBottom"></div><!-- 底部版权栏 -->
    </div>
</div><!-- Start Main project js,jQuery,Bootstrap -->
<script th:src="@{/js/lib.vendor.bundle.js}"></script><!-- Start all plugin js -->
<script th:src="@{/js/counterup.bundle.js}"></script>
<script th:src="@{/js/apexcharts.bundle.js}"></script>
<script th:src="@{/js/summernote.bundle.js}"></script><!-- Start project main js and page js -->
<script th:src="@{/js/core.js}"></script>
<script th:src="@{/js/index.js}"></script>
<script th:src="@{/js/summernote.js}"></script>
<script>
    $(function(){
        var ws = new WebSocket("ws://localhost:8080/student/chat.html");
        var username = '[[${session.name}]]';
        ws.onopen = function(){
        //建立连接后触发
        console.log(111);
        }
        ws.onmessage = function(evt){
        //接受到服务器推送的消息触发
            console.log(222);
            var dataStr = evt.data;
            console.log(dataStr);
            //将dataStr转换为json对象
            var res = JSON.parse(dataStr);
            //判断是否是系统信息
            if(res.system){
            //是系统信息
                var names = res.message;
                //好友列表展示
                console.log(res.message);
                console.log(names);
                var userlistStr = "";
                for(var name of names){
                    if(name != username){
                        userlistStr +="<li><a onclick='showChat(\""+name+"\")' class=\"media\"><img class=\"media-object\"src=\"/images/avatar1.jpeg\"alt><div class=\"media-body\"><span class=\"name\">"+name+"</span><span class=\"message\">在线</span></div></a></li>";
                    }
                }
                console.log(userlistStr+23);
                $("#userlist").html(userlistStr);

            }else{
            //不是系统信息
                var Str = "<li class=\"other-message\"><img class=\"avatar mr-3\" src=\"/images/avatar3.jpeg\" alt=\"avatar\"><div class=\"message\"><p class=\"bg-light-cyan\">"+res.message+"</p><span class=\"time\">10:15 AM</span></div></li>"
                //如果是当前聊天的用户则推送
                if(toName == res.name){
                    $("#msgs").append(Str);
                }
                //历史记录存进session里
                var chatData = sessionStorage.getItem(res.name);
                if(chatData != null){
                    Str = chatData + Str;
                }
                sessionStorage.setItem(res.name,Str);

            }
        }
        ws.onclose = function(){
            console.log(333);
        }
        //展示信息
        showChat = function(name){
            //清空聊天区
            toName = name
            $("#msgs").html("");
            $("#chatName").html(toName);
            //将保留的消息展示出来
            var chatData = sessionStorage.getItem(toName);
            if (chatData != null){
                $("#msgs").html(chatData);
            }
        };
        //发送信息
        $("#send").click(function(){
            var data = $("#message").val();
            //清除输入框
            $("#message").val("");
            //推送
            var json = {"name":toName,"message":data};
            ws.send(JSON.stringify(json));
            //将信息展示在自己的区域
            var Str = "<li class=\"my-message\"><div class=\"message\"><p class=\"bg-light-gray\">"+data+"</p><span class=\"time\">10:17 AM</span></div></li>";
            $("#msgs").append(Str);
            //历史记录存进session里
            var chatData = sessionStorage.getItem(toName);
            if(chatData != null){
                Str = chatData + Str;
            }
            sessionStorage.setItem(toName,Str);
        });

    })
</script>
</body>
</html>