<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:insert="DIY::ico">
    <title>作业</title><!-- Bootstrap Core and vandor -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"><!-- Plugins css -->
    <link rel="stylesheet" th:href="@{/css/summernote.css}"><!-- Core css -->
    <link rel="stylesheet" th:href="@{/css/style.min.css}">
    <link rel="stylesheet" th:href="@{/css/dropify.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker3.min.css}">
</head>
<body class="font-muli theme-cyan gradient"><!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader"></div>
</div>
<div id="main_content"><!-- Start Main top header -->
    <div th:insert="DIY::HeaderTop"></div><!-- 顶部菜单-->
    <div th:insert="DIY::RightSideBar"></div><!-- 右侧设置-->
    <div th:insert="DIY::ThemeDiv"></div><!-- 主题 -->
    <div th:insert="DIY::UserDiv"></div><!-- 用户 -->
    <div th:insert="/student/index::LeftSideBar(active='Courses')" ></div><!-- 菜单 -->
    <div class="page"><!-- 主页面 -->
        <div th:insert="DIY::PageTop"></div><!-- 顶部搜索栏 -->
        <div class="section-body">
            <div class="container-fluid">
                <div class="d-flex justify-content-between align-items-center ">
                    <div class="header-action">
                        <h1 class="page-title">作业详情</h1>
                        <ol class="breadcrumb page-breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/student/courses.html}">课程</a></li>
                            <li class="breadcrumb-item"><a th:href="@{/student/courses/}+${session.courseID}">课程详情</a></li>
                            <li class="breadcrumb-item active" aria-current="page">作业详情</li>
                        </ol>
                    </div>
                    <ul class="nav nav-tabs page-header-tab">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#task">作业详情</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#taskCorrecting">我的作业</a>
                        </li>
                    </ul>
<!--                    <button type="button" class="btn btn-primary"><i class="fa fa-cloud-upload mr-2"></i>上传按钮</button>-->
                </div>
            </div>
        </div>
        <div class="section-body mt-4">
            <div class="container-fluid">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="task">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">[[${task.name}]]</h3>
                                <div class="card-options">
                                    <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen">
                                        <i class="fe fe-maximize"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body detail">
                                <div class="mail-cnt">
                                    <div th:utext="${task.introduction}"></div>
                                    <div class="file_folder" th:if="${task.fileName}!=null" >
                                        <a th:href="@{/download/task/}+${task.fileName}">
                                            <div class="icon">
                                                <i class="fa fa-file-o "></i>
                                            </div>
                                            <div class="file-name">
                                                <p class="mb-0 text-muted" th:text="${#strings.substringAfter(task.fileName,task.id+'_')}"></p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="text-info" th:text="'起始日期:'+${#dates.format(task.issuedDate, 'yyyy年MM月dd日 HH:mm')}"></div>
                                    <div class="text-pink" th:text="'截止日期:'+${#dates.format(task.deadline, 'yyyy年MM月dd日 HH:mm')}"></div>
                                    <hr>
                                    <strong>问题交流</strong>

                                    <form class="well" th:action="@{/discuss/}+${task.id}" method="post">
                                        <div class="form-group">
                                            <textarea rows="2" class="form-control no-resize" required="required" placeholder="内容" name="text"></textarea>
                                        </div>
                                        <button class="btn btn-primary" type="submit">提交</button>
                                    </form>
                                    <div class="timeline_item" th:each="comment:${comment}">
                                        <img class="tl_avatar" th:src="@{/Avatar/}+${comment.id}" alt="avatar" />
                                        <span>
                                            <h6 href="javascript:void(0);">[[${comment.name}]]</h6>
                                            <small class="float-right text-right" th:text="${#dates.format(comment.Date, 'yyyy年MM月dd日 HH:mm')}"></small>
                                        </span>
                                        <div class="msg">
                                            <p>[[${comment.text}]]</p>
                                            <!--                                            <a href="javascript:void(0);" class="mr-20 text-muted"><i class="fa fa-heart text-pink"></i>12 Love</a>-->
                                            <a class="text-muted" role="button" data-toggle="collapse" th:href="'#'+'collapse'+${comment.NO}" aria-expanded="false" th:aria-controls="'collapse'+${comment.NO}"><i class="fa fa-comments"></i>[[${comment.repliesNum}]]个评论</a>
                                            <div class="collapse p-4 section-gray mt-2" th:id="'collapse'+${comment.NO}">
                                                <form class="well" th:action="@{/reply/}+${comment.NO}" method="post">
                                                    <div class="form-group">
                                                        <textarea rows="2" class="form-control no-resize" required="required" placeholder="回复内容..." name="text"></textarea>
                                                    </div>
                                                    <input name="replier" th:value="${comment.name}" style="display: none">
                                                    <button class="btn btn-primary">回复</button>
                                                </form>
                                                <ul class="recent_comments list-unstyled mt-4 mb-0" th:if="${comment.repliesNum}!=0">
                                                    <li th:each="reply:${[comment.NO]}">
                                                        <div class="avatar_img">
                                                            <img class="rounded img-fluid" th:src="@{/Avatar/}+${reply.id}" alt="avatar">
                                                        </div>
                                                        <div class="comment_body">
                                                            <h6>
                                                                [[${reply.name}]]
                                                                <small class="float-right font-14" th:text="${#dates.format(reply.Date, 'yyyy年MM月dd日 HH:mm')}"></small>
                                                            </h6>
                                                            <p>[[${reply.text}]]</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="taskCorrecting">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">我的作业</h3>
                            </div>
                            <div class="card-body">
                                <div class="alert alert-warning" th:if="${xxx}==1">
                                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                    您尚未提交作业！！！
                                </div>
                                <table class="table table-hover table-vcenter table_custom text-nowrap spacing5 text-nowrap mb-0" th:if="${xxx}!=1">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>文件名</th>
                                        <th>提交时间</th>
                                        <th class="text-center">成绩</th>
                                        <th class="text-center">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="width45">
                                            <i class="fa fa-folder"></i>
                                        </td>
                                        <td><span class="folder-name" th:text="${myTask.fileName}"></span></td>
                                        <td class="width100"><span th:text="${#dates.format(myTask.submitDate, 'yyyy年MM月dd日 HH:mm')}"></span></td>
                                        <td class="width100 text-center"><span class="size" th:text="${myTask.score}"></span></td>
                                        <td class="width100 text-center">
                                            <button type="button" class="btn btn-icon btn-sm" title="下载">
                                                <a class="fa fa-cloud-download text-blue" th:href="@{/download/taskStudent/}+${myTask.fileName}"></a>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">提交作业</h3>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col-sm-12" >
                                            <div class="form-group">
                                                <label>文件名</label>
                                                <input class="form-control" type="text" name="fileName" id="fileName" placeholder="不填默认为原文件名">
                                            </div>
                                            <input type="file" class="dropify" name="file" id="file">
                                            <small id="fileHelp" class="form-text text-muted">This is some
                                                placeholder block-level help text for the above input. It's a bit
                                                lighter and easily wraps to a new line.</small>
                                        </div>
                                        <div class="col-sm-12 m-t-20 text-right">
                                            <button type="button" class="btn btn-primary" th:onclick="submitTask([[${#dates.format(task.issuedDate, 'yyyy-MM-dd HH:mm:ss')}]],[[${#dates.format(task.deadline, 'yyyy-MM-dd HH:mm:ss')}]])">提交</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Start main footer -->
        <div th:insert="DIY::PageBottom"></div><!-- 底部版权栏 -->
    </div>
</div><!-- Start Main project js,jQuery,Bootstrap -->
<script th:src="@{/js/lib.vendor.bundle.js}"></script><!-- Start all plugin js -->
<script th:src="@{/js/counterup.bundle.js}"></script>
<script th:src="@{/js/apexcharts.bundle.js}"></script>
<script th:src="@{/js/summernote.bundle.js}"></script><!-- Start project main js and page js -->
<script th:src="@{/js/core.js}"></script>
<script th:src="@{/js/index.js}"></script>
<script th:src="@{/js/summernote.js}"></script>
<script th:src="@{/js/summernote-zh-CN.js}"></script>
<script th:src="@{/js/dropify.js}"></script>
<script th:src="@{/js/dropify.min.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/Myjs/News.js}"></script>

<script>
    function submitTask(a,b){
    if ($('#file').val() == "") {
			alert("请选择上传的目标文件! ");
			return false;
	}
    var myFormData = new FormData();
    myFormData.append('fileName',$("#fileName").val());
    myFormData.append('issuedDate',a);
    myFormData.append('deadline',b);
    myFormData.append("file",$('#file')[0].files[0]);
            $.ajax({
            url: "/submitTask",
            type: "post",
            data: myFormData,
            contentType: false,
            processData: false,
            success: function (data) {
                if(data == 1){
                    alert("提交成功");
                    window.location.reload();
                }else if(data == 2){
                    alert("作业已截止");
                }else if(data == 3){
                    alert("作业未发布");
                }else{
                    alert("???");
                }
            }
        });
    }
</script>

</body>
</html>
