<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:insert="DIY::ico">
    <title>教师</title><!-- Bootstrap Core and vandor -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"><!-- Plugins css -->
    <link rel="stylesheet" th:href="@{/css/summernote.css}"><!-- Core css -->
    <link rel="stylesheet" th:href="@{/css/style.min.css}">
    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap4.min.css}">
</head>
<body class="font-muli theme-cyan gradient"><!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader"></div>
</div>
<div id="main_content"><!-- Start Main top header -->
    <div th:insert="DIY::HeaderTop"></div><!-- 顶部菜单-->
    <div th:insert="DIY::RightSideBar"></div><!-- 右侧设置-->
    <div th:insert="DIY::ThemeDiv"></div><!-- 主题 -->
    <div th:insert="DIY::UserDiv"></div><!-- 用户 -->
    <div th:insert="/staff/index::LeftSideBar(active='Staff')" ></div><!-- 菜单 -->
    <div class="page"><!-- 主页面 -->
        <div th:insert="DIY::PageTop"></div><!-- 顶部搜索栏 -->
        <div class="section-body">
            <div class="container-fluid">
                <div class="d-flex justify-content-between align-items-center ">
                    <div class="header-action"><h1 class="page-title">教师</h1>
                        <ol class="breadcrumb page-breadcrumb">
                            <li class="breadcrumb-item"><a href="staff.html#">Ericsson</a></li>
                            <li class="breadcrumb-item active" aria-current="page">教师</li>
                        </ol>
                    </div>
                    <ul class="nav nav-tabs page-header-tab">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#Staff-all">教师列表</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section-body mt-4">
            <div class="container-fluid">
                <div class="tab-content">
                    <div class="tab-pane active" id="Staff-all">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover js-basic-example dataTable table-striped table_custom border-style spacing5">
                                        <thead>
                                        <tr>
                                            <th>教工号</th>
                                            <th></th>
                                            <th>姓名</th>
                                            <th>性别</th>
                                            <th>联系电话</th>
                                            <th>所属学院</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="staff:${staffList}">
                                            <td th:text="${staff.id}" style="width:70px"></td>
                                            <td style="width:70px"><img th:src="@{/Avatar/}+${staff.id}" data-toggle="tooltip" data-placement="top" title="" alt="Avatar" class="avatar"></td>
                                            <td th:text="${staff.name}"><div class="font-15"><strong></strong></div></td>
                                            <td th:text="${staff.gender==0?'女':'男'}"></td>
                                            <td th:text="${staff.phone}"><span class="text-muted"></span></td>
                                            <td th:text="${staff.college}"></td>
                                            <!--                                        <td><span class="tag tag-success">Full-time</span></td>   备用图标-->
                                            <td>
                                                <button type="button" class="btn btn-icon btn-sm" title="View"><i
                                                        class="fa fa-eye"></i></button>
                                                <button type="button" class="btn btn-icon btn-sm" title="Edit"><i
                                                        class="fa fa-edit"></i></button>
                                                <!--                                            <button type="button" class="btn btn-icon btn-sm js-sweetalert"-->
                                                <!--                                                    title="Delete" data-type="confirm"><i-->
                                                <!--                                                    class="fa fa-trash-o text-danger"></i></button>-->
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:insert="DIY::PageBottom"></div><!-- 底部版权栏 -->
    </div>
</div><!-- Start Main project js,jQuery,Bootstrap -->
<script th:src="@{/js/lib.vendor.bundle.js}"></script><!-- Start all plugin js -->
<script th:src="@{/js/counterup.bundle.js}"></script>
<script th:src="@{/js/apexcharts.bundle.js}"></script>
<script th:src="@{/js/summernote.bundle.js}"></script><!-- Start project main js and page js -->
<script th:src="@{/js/core.js}"></script>
<script th:src="@{/js/index.js}"></script>
<script th:src="@{/js/summernote.js}"></script>
<script th:src="@{/js/datatable.js}"></script>
<script th:src="@{/js/dataTables.bundle.js}"></script>

</body>
</html>