<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" th:href="@{favicon.ico}" type="image/x-icon">
    <title>高校师生交互平台</title><!-- Bootstrap Core and vandor -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"><!-- Plugins css -->
    <link rel="stylesheet" th:href="@{/css/summernote.css}"><!-- Core css -->
    <link rel="stylesheet" th:href="@{/css/style.min.css}">
</head>
<body class="font-muli theme-cyan gradient"><!-- 页面加载 -->
<div class="page-loader-wrapper">
    <div class="loader"></div>
</div>
<div id="main_content"><!-- 大页面 -->
    <div th:insert="index::HeaderTop"></div><!-- 顶部菜单 -->
    <div th:insert="index::RightSideBar"></div><!-- 右侧设置 -->
    <div th:insert="index::ThemeDiv"></div><!-- 主题 -->
    <div th:insert="index::UserDiv"></div><!-- 用户 -->
    <div th:insert="index::LeftSideBar"></div><!-- 菜单 -->
    <div class="page" ><!-- 右边页面 -->
        <div th:insert="index::PageTop"></div><!-- 顶部搜索栏 -->
        <div th:insert="index::PageBottom"></div><!-- 底部版权栏 -->

    </div>
</div><!-- Start Main project js,jQuery,Bootstrap -->
<script th:src="@{js/lib.vendor.bundle.js}"></script><!-- Start all plugin js -->
<script th:src="@{js/counterup.bundle.js}"></script>
<script th:src="@{js/apexcharts.bundle.js}"></script>
<script th:src="@{js/summernote.bundle.js}"></script><!-- Start project main js and page js -->
<script th:src="@{js/core.js}"></script>
<script th:src="@{js/index.js}"></script>
<script th:src="@{js/summernote.js}"></script>
</body>
</html>