<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cosmos.mapper.TSMapper">
    <select id="queryStaffList" resultType="com.cosmos.pojo.Staff">
        select * from staff
    </select>
    <select id="queryStaffById" resultType="com.cosmos.pojo.Staff">
        select * from staff where id = #{id}
    </select>
    <select id="queryTeaNameById" resultType="java.lang.String">
        select name from staff where id = #{id}
    </select>
    <insert id="addStaff" parameterType="com.cosmos.pojo.Staff">
        insert into staff (id,name,gender,college,phone) values(#{id},#{name},#{gender},#{college},#{phone})
    </insert>
    <delete id="deleteStaff" parameterType="java.lang.String">
        delete from staff where id = #{id}
    </delete>
    <update id="AdminUpdateStaff" parameterType="com.cosmos.pojo.Staff">
        update staff set id=#{id},name=#{name},gender=#{gender},college=#{college},phone=#{phone} where id = #{id}
    </update>
    <update id="TeaUpdateStaff" parameterType="com.cosmos.pojo.Staff">
        update staff set phone=#{phone} where id = #{id}
    </update>
    <!--分界线-->

    <select id="queryStudentList" resultType="com.cosmos.pojo.Student">
        select * from student
    </select>
    <select id="queryStudentById" resultType="com.cosmos.pojo.Student">
        select * from student where id = #{id}
    </select>
    <select id="queryStuNameById" resultType="java.lang.String">
        select name from student where id = #{id}
    </select>
    <select id="queryStudentByClasses" resultType="com.cosmos.pojo.Student">
        select * from student where classes = #{classes}
    </select>
    <select id="queryClassesByName" resultType="java.lang.String">
        select classes from student where id = #{id}
    </select>
    <insert id="addStudent" parameterType="com.cosmos.pojo.Student">
        insert into student (id,name,gender,classes,college,phone) values(#{id},#{name},#{gender},#{classes},#{college},#{phone})
    </insert>
    <delete id="deleteStudent" parameterType="java.lang.String">
        delete from student where id = #{id}
    </delete>
    <update id="AdminUpdateStudent" parameterType="com.cosmos.pojo.Student">
        update student set
        id=#{id},
        name=#{name},
        gender=#{gender},
        classes=#{classes},
        college=#{college},
        phone=#{phone} where id = #{id}
    </update>
    <update id="StuUpdateStudent" parameterType="com.cosmos.pojo.Student">
        update student set
        phone=#{phone} where id = #{id}
    </update>
    <!--分界线-->

    <select id="queryCourseList" resultType="com.cosmos.pojo.Course">
        select * from course
    </select>
    <select id="queryStuCourse" resultType="com.cosmos.pojo.Course">
        select c.*
        from course as c,studentCourse as sc
        where sc.courseID = c.id
        and   sc.studentID = #{id}
    </select>
    <select id="queryTeaCourse" resultType="com.cosmos.pojo.Course">
        select c.*
        from course as c
        where c.teacherID = #{id}
    </select>
    <select id="queryCourse" resultType="com.cosmos.pojo.Course">
        select * from course where id = #{id}
    </select>
    <insert id="addCourse" parameterType="com.cosmos.pojo.Course">
        insert into course
        (id,name,teacherID,teacher,college,startDate,endDate)
        values(#{id},#{name},#{teacherID},#{teacher},#{college},#{startDate},#{endDate})
    </insert>
    <select id="queryCourseStuList" resultType="com.cosmos.pojo.Student">
        select s.*
        from student as s,studentCourse as sc
        where sc.studentID = s.id
        and   sc.courseID = #{id}
    </select>
    <select id="queryCourseStuID" resultType="java.lang.String">
        select sc.studentID
        from studentCourse as sc
        where courseID = #{id}
    </select>

    <!--分界线-->

    <select id="queryTaskList" resultType="com.cosmos.pojo.Task">
        select * from task where courseID = #{id}
    </select>
    <select id="queryTask" resultType="com.cosmos.pojo.Task">
        select * from task where id = #{id}
    </select>
    <insert id="addTask" parameterType="com.cosmos.pojo.Task">
        insert into task
        (id,name,courseID,issuedDate,deadline,fileName,introduction)
        values(#{id},#{name},#{courseID},#{issuedDate},#{deadline},#{fileName},#{introduction})
    </insert>
    <update id="updateTask" >
        update task set
        id=#{task.id},
        name=#{task.name},
        issuedDate=#{task.issuedDate},
        deadline=#{task.deadline},
        introduction=#{task.introduction}
        where id = #{oldID}
    </update>
    <update id="updateTaskF" >
        update task set
        id=#{task.id},
        name=#{task.name},
        issuedDate=#{task.issuedDate},
        deadline=#{task.deadline},
        fileName=#{task.fileName},
        introduction=#{task.introduction}
        where id = #{oldID}
    </update>
    <update id="changeTaskID">
        update taskStudent set
        taskID = #{id}
        where taskID = #{oldID}
    </update>
    <insert id="addTaskStudent">
        insert into taskStudent
        (studentID,taskID)
        values(#{studentID},#{taskID})
    </insert>
    <update id="submitTask">
        update taskStudent set
        submitDate=#{submitDate},
        fileName=#{fileName}
        where studentID = #{studentID}
        and taskID = #{taskID}
    </update>
    <select id="queryMyTaskFile" resultType="java.util.Map">
        select ts.submitDate,ts.score,ts.fileName
        from taskStudent as ts
        where studentID = #{studentID}
        and taskID = #{taskID}
    </select>
    <select id="queryStuTaskFileList" resultType="java.util.Map">
        select ts.studentID,ts.submitDate,ts.fileName,ts.score
        from taskStudent as ts
        where taskID = #{taskID}
    </select>
    <update id="taskCorrecting">
        update taskStudent set
        score = #{score}
        where studentID = #{studentID}
        and taskID = #{taskID}
    </update>

    <!--分界线-->

    <select id="queryCommentList" resultType="com.cosmos.pojo.Comment">
        select * from comment
        where position = #{position}
        and state is null
    </select>
    <insert id="discuss">
        insert into comment
        (id,name,date,text,position)
        values(#{id},#{name},#{date},#{text},#{position})
    </insert>
    <insert id="reply">
        insert into comment
        (id,name,date,text,position,replier,replierID)
        values(#{id},#{name},#{date},#{text},#{position},#{replier},#{replierID})
    </insert>
    <update id="upRepliesNum">
        update comment set
        repliesNum = repliesNum+1
        where NO = #{NO}
    </update>
    <update id="deleteComment">
        update comment set
        state = "delete"
        where NO = #{NO}
    </update>
    <update id="downRepliesNum">
        update comment set
        repliesNum = repliesNum-1
        where NO = #{NO}
    </update>

    <!--分界线-->

    <insert id="saveMessage">
        insert into chat
        (id,message,time,chatID)
        values(#{id},#{message},#{time},#{chatID})
    </insert>
    <select id="showMessage" resultType="com.cosmos.pojo.ChatRecord">
        select * from chat
        where id in (#{id},#{chatID})
          and chatID in (#{id},#{chatID})
    </select>

</mapper>