<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cosmos.mapper.TSMapper">
    <select id="queryStaffList" resultType="com.cosmos.pojo.Staff">
        select * from staff
    </select>
    <select id="queryStaffById" resultType="com.cosmos.pojo.Staff">
        select * from staff where id = #{id}
    </select>
    <insert id="addStaff" parameterType="com.cosmos.pojo.Staff">
        insert into staff (id,name,gender,college,phone) values(#{id},#{name},#{gender},#{college},#{phone})
    </insert>
    <delete id="deleteStaff" parameterType="java.lang.String">
        delete from staff where id = #{id}
    </delete>
    <update id="updateStaff" parameterType="com.cosmos.pojo.Staff">
        update staff set id=#{id},name=#{name},gender=#{gender},college=#{college},phone=#{phone} where id = #{id}
    </update>

    <!--分界线-->

    <select id="queryStudentList" resultType="com.cosmos.pojo.Student">
        select * from student
    </select>
    <select id="queryStudentById" resultType="com.cosmos.pojo.Student">
        select * from student where id = #{id}
    </select>
    <select id="queryNameById" resultType="java.lang.String">
        select name from student where id = #{id}
    </select>
    <select id="queryStudentByClasses" resultType="com.cosmos.pojo.Student">
        select * from student where classes = #{classes}
    </select>
    <select id="queryClassesByName" resultType="java.lang.String">
        select classes from student where id = #{id}
    </select>
    <insert id="addStudent" parameterType="com.cosmos.pojo.Student">
        insert into student (id,name,gender,classes,college,phone) values(#{id},#{name},#{gender},#{classes},#{college},#{phone})
    </insert>
    <delete id="deleteStudent" parameterType="java.lang.String">
        delete from student where id = #{id}
    </delete>
    <update id="updateStudent" parameterType="com.cosmos.pojo.Student">
        update student set id=#{id},name=#{name},gender=#{gender},classes=#{classes},college=#{college},phone=#{phone} where id = #{id}
    </update>

</mapper>